{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}動画一覧{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>動画一覧</h1>
    </div>
    <div class="row">
        <!-- Boostrapのテーブルタグについては、https://cccabinet.jpn.org/bootstrap4/content/tables 参照 -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">サムネイル</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">説明文</th>
                </tr>
                </thead>
                <tbody>
                {# 取得した結果分ループする処理です#}
                {# コントローラで指定した $data["result"] は Twigでは result として扱えます #}
                {# for文でresultの中の一次元目の配列をループで回す形となります #}
                {# ループ処理中の1行はrowの中に入りますので、このループ中はrow.カラム名で情報を表示することが可能です #}
                {% for row in result %}
                    <tr>
                        <td class="align-middle" scope="col">
                            <a href="/detail/{{row.movie_id}}">
                                <img src="http://img.youtube.com/vi/{{ row.movie_key}}/default.jpg" width="200" class="img-fluid">
                            </a>
                        </td>
                        <td class="align-middle" scope="col">
                            <a href="/detail/{{row.movie_id}}">{{ row.movie_name }}</a>
                            {#
                            <a href="/item/detail/{{ row.id }}">{{ row.movie_name }}</a>
                            #}
                        </td>
                        <td class="align-middle" scope="col">{{ row.movie_description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
